/* Basis styles */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Old standard TT';


}

body {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #c4e4ff;
    padding: 10px;
}

footer {

    height: 30px;
}

hr {
    border-top: 1px solid black;
}



h3 {
    font-weight: bolder;
    font-size: 1.5em;
}

h4 {
    font-weight: bold;
    font-size: 1.1em;
}

li {
    font-size: 1.1em;
}

/* Navigation */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 80, 165);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgba(16, 4, 5, 0.47);
}

ul.topnav li a.active {
    background-color: rgba(8, 8, 8, 0.21);
}


.topnav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

}

.topnav ul li {
    position: relative;
    padding-right: 0;
    margin-right: 10px;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: rgba(71, 94, 172, 0.94);
    box-shadow: 0px 8px 16px 0px rgba(33, 91, 199, 0.33);
    padding: 10px 25px;
    z-index: 1;
    margin-right: 10px;

}

.dropdown > ul li {
    white-space: nowrap;
    padding: 3px 3px;
    margin-right: 10px;
}

.dropdown:hover > ul {
    display: block;
}

/* Navigation slut */

article {
    text-align: center;
    font-size: 4vw;
    padding: 2vw;
}

b {
    font-size: 1.3em;
}

.app_instagram img {
    height: 100%;
    width: 50vw;
    justify-content: center;
}

.observationsbillede img {
    height: 100%;
    width: 70vw;
    padding-left: 5vw;
}

.observationsbillede h2 {
    padding-left: 5vw;
}

.billeder img {
    height: 50%;
    width: 40vw;
}

.personas img {
    height: 100%;
    width: 80vw;
    margin: 3vw;
}

.storyboard img {
    height: 100%;
    width: 70vw;
    padding: 50px;
}

.business_model_canvas img {
    height: 100%;
    width: 70vw;
    margin-left: 15vw;
}

.interview img {
    height: 100%;
    width: 40vw;
    margin-left: 25vw;

}

.phone img {
    height: 50%;
    width: 30vw;
}

.prototyper img {
    height: 50%;
    width: 20vw;
}

.keaapp_billeder img {
    height: 50%;
    width: 30vw;

}

.brugerresearch_billeder img {
    height: 50%;
    width: 30vw;
}

.experiencemap img {
    height: 50%;
    width: 30vw;
}

.appens_indhold img {
    height: 50%;
    width: 30vw;
}

.app_anden img {
    height: 50%;
    width: 30vw;
}

.problemformulering p {
    text-align: center;
}
